/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*, input, button {
  font-family: Arial, sans-serif;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

/* Styles HEADER */
.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;

  max-height: 48px;
  height: 100%;

  width: 100%;
}

.menu__section {
  display: flex;
  align-items: center;
}

.menu__section.left {
  display: flex;
  align-items: center;
}

.menu__section.right {
  margin-right: 4px;
}

.menu__section.left .menu__icon {
  padding: 12px 16px;
}

.menu__section.right .menu__icon {
  padding: 12px;
}

.menu__profile {
  padding: 4px;

  width: 40px;
  height: 40px;
  position: relative;
} 

.menu__avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.menu__avatar--frame {
  position: absolute;
  top: 0;
  left: 0;
}

.menu__link {
  text-transform: uppercase;
  text-decoration: none;
  
  font-size: 12px;
  font-weight: 600;

  color: #757575;

  padding: 12px 8px;

  border: 2px solid transparent;
}

.menu__link.active {
  color: #4285f4;
  border-bottom: 2px solid #4285f4;
}

/* Styles MAIN */
.content {
  flex: 1;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 56px 8px 0;
}

.content__logo {
  height: 80px;
  transition: all 0.2s;
}

@media(min-width: 800px) {
  .content__logo {
    height: 100px;
  }
}

.content__search {
  margin-top: 34px;
  width: 100%;
  max-width: 696px;
  padding: 7px 10px 6px 20px;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.87);
  background: transparent;
  border-radius: 25px;
  border: 1px solid #dadce0;
  outline: 0;
  transition: all 0.2s;
}

.content__search:focus {
  border-color: #757575;
}

.content__offer {
  margin-top: 24px;
  font-size: 13px;
  padding: 6px 12px;
  text-align: center;
}

.content__offer a {
  text-decoration: none;
  color: blueviolet;
} 

/* Styles FOOTER */
.footer {
  margin-top: 24px;

  display: flex;
  flex-direction: column;
  background: #f2f2f2;
}

.footer__section:not(:first-child) {
  border-top: 1px solid #e4e4e4;
}

.footer__location {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.54);
  padding: 10px 12px;
}

.footer__links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
}

.footer__links a {
  text-decoration: none;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.54);;
}